<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
      <li class="breadcrumb-item"><a routerLink="/home">Home</a></li>
      <li class="breadcrumb-item active" aria-current="page">Movies</li>
  </ol>
</nav>

  <div >
    <div class="page-wrapper">
      <!-- ============================================================== -->
      <!-- Container fluid  -->
      <!-- ============================================================== -->
      <div class="container-fluid col-md-10">
        <div class="form-group col-md-3 ">
        
    <input type="text" class="form-control" [(ngModel)]="title" (input)="search()" placeholder="Tap the title for search...">
  </div>
    <app-grid  [movies]="movies" ></app-grid> 

  </div>
  <!-- ============================================================== -->
  <!-- End Container fluid  -->
  <!-- ============================================================== -->
  
</div>
  </div>
