
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a routerLink="/home">Home</a></li>
        <li class="breadcrumb-item"><a routerLink="/afficher">Movies</a></li>
        <li class="breadcrumb-item active" aria-current="page">{{ movie.title }}</li>
    </ol>
</nav>
<!-- /breadcrumbs 
<div class="movie-buttons text-center">
<button type="button" class="btn btn-labeled btn-recommend">
        <span class="btn-label"><i class="fas fa-thumbs-up"></i></span> Recommend</button>
    <button type="button" class="btn btn-labeled btn-watchlist">
        <span class="btn-label"><i class="fas fa-plus"></i></span> Add to Watchlist</button>
    <button type="button" class="btn btn-labeled btn-unlike">
        <span class="btn-label"><i class="fas fa-thumbs-down"></i></span> I don't like it</button>
    </div>-->
<div class="movie_card" id="bright">
    <div class="info_section">
        <div class="movie_header">
            <img class="movie-poster" src="https://image.tmdb.org/t/p/w600_and_h900_bestv2/30oXQKwibh0uANGMs0Sytw3uN22.jpg" />
            <h1>{{ movie.title }}</h1>
            <span class="minutes"><i class="fas fa-clock"></i> {{ movie.duree }}h</span>
            <p class="type"> {{ movie.categorie }} </p>
        </div>
        <div class="movie_desc">
            <p class="text">
                Primatologist Davis Okoye shares an unshakable bond with George, the extraordinarily intelligent, silverback gorilla who has been in his care since birth. But a rogue genetic experiment gone awry mutates this gentle ape into a raging creature of enormous size. To make matters worse, it’s soon discovered there are other similarly altered animals. As these newly created alpha predators tear across North America, destroying everything in their path, Okoye teams with a discredited genetic engineer to secure an antidote, fighting his way through an ever-changing battlefield.
            </p>
        </div>
        <a href="#" class="trailer"><i class="fas fa-video"></i> Watch Trailer</a>
        
    </div>
</div>
